<!DOCTYPE html>
<html>
<head>
	<title>signup user</title>

     <style type="text/css">
		.abc{
			width: 300px;
			height: 255px;
			background-color: #0d3a42;
			margin-top: 30px;
			margin-left: 477px;
			padding: 46px;
		}
		.xyz{
			color: white;
		}
        .xyz1{
            color: white;
            background-color: green;
            width: 100px;
            padding: 5px;
            margin-left: 124px;
            margin-top: 29px;
        }
		form{
			margin-left: -30px;
		}
        label{
            font-size: 20px;
            font-family: sans-serif;
        }
	</style>

</head>
<body style="background-color: black">
    
    	<h1 style="text-align: center;background-color:#00806e">plzz signUp account...</h1>
	<div class="abc">
	
    <form action="signupsuccess" method="post">
    	
        <table style="border-spacing: 30px">
    		<tr>
    			<td class="xyz"><label>Name:</label></td>
    			<td><input type="text" name="uname" placeholder="enter your name"></td>
    		</tr>
    		<tr>
    			<td class="xyz"><label>Email:</label></td>
    			<td><input type="text" name="uemail" placeholder="enter your email"></td>
    		</tr>
    		<tr>
    			<td class="xyz"><label>Password:</label></td>
    			<td><input type="password" name="upass" placeholder="enter your password"></td>
    		</tr>
    		
    	</table>	
    			<input class="xyz1" type="submit" value="SignUp"></td>
    			
    		
    </form>
  
    </div>

</body>
</html>